d-title h1, d-title p {
  grid-column: page;
  text-align: center;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

#interactive {
  border: 2px solid black;
  height: 350px;
  overflow: hidden;
}